<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World</h1>
    <h3><%= 'hello world'.toUpperCase() %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate repellat quo suscipit laudantium. Rem, maiores necessitatibus voluptas asperiores magni doloribus modi delectus a enim molestiae, excepturi corrupti saepe! Perspiciatis, quaerat.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis eaque aut perspiciatis voluptas odit ex asperiores tenetur debitis ipsa? Similique voluptate officiis magnam quidem consequuntur cumque quae quia porro placeat.</p>

</body>
</html>